USE [Inmobiliaria]
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradores](
	[Id_Administrador] [int] NOT NULL,
	[Apellidos] [nvarchar](15) NOT NULL,
	[Nombres] [nvarchar](15) NOT NULL,
	[Direccion] [nvarchar](30) NOT NULL,
	[Celular] [int] NOT NULL,
	[Correo] [nvarchar](255) NOT NULL,
	[Nombre_Contacto] [nvarchar](30) NOT NULL,
	[Celular_Contacto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Administrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Arrendatarios]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arrendatarios](
	[Id_Arrendatarios] [int] NOT NULL,
	[Cedula_arrenda] [int] NOT NULL,
	[Apellidos] [nvarchar](25) NOT NULL,
	[Nombres] [nvarchar](25) NOT NULL,
	[Correo] [nvarchar](255) NOT NULL,
	[Celular] [int] NOT NULL,
	[Telefono_Fijo] [int] NULL,
	[Nombre_Empresa] [nvarchar](25) NULL,
	[Telefono_Empresa] [int] NULL,
	[Carta_Laboral] [nvarchar](2) NOT NULL,
	[Certificado_Ingresos] [nvarchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Arrendatarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asesores]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asesores](
	[id_Cedula_empleado] [int] NOT NULL,
	[Apellido] [nvarchar](40) NOT NULL,
	[Nombre] [nvarchar](40) NOT NULL,
	[Direccion] [nvarchar](40) NOT NULL,
	[Celular] [int] NOT NULL,
	[Correo] [nvarchar](255) NOT NULL,
	[Nombre_Contacto] [nvarchar](40) NOT NULL,
	[Celular_Contacto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Cedula_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id_Cliente] [int] NOT NULL,
	[Cedula_cliente] [int] NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Apellido] [nvarchar](30) NOT NULL,
	[Carta_laboral] [nvarchar](2) NOT NULL,
	[Certificado_Independiente] [nvarchar](2) NOT NULL,
	[Salario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contratos]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratos](
	[Id_Contratos] [int] NOT NULL,
	[Fecha_Contrato] [datetime] NOT NULL,
	[Id_Sede] [int] NULL,
	[Id_fiador] [int] NULL,
	[Id_inmuebles] [int] NULL,
	[Id_Arrendatarios] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Contratos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fiadores]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fiadores](
	[Id_fiador] [int] NOT NULL,
	[Cedula_fiador] [int] NULL,
	[Apellidos] [nvarchar](25) NOT NULL,
	[Nombres] [nvarchar](25) NOT NULL,
	[Carta_Laboral] [nvarchar](2) NOT NULL,
	[Salario] [int] NOT NULL,
	[Certificado_Propiedad] [nvarchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_fiador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inmuebles]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inmuebles](
	[Id_inmuebles] [int] NOT NULL,
	[direccion] [nvarchar](25) NOT NULL,
	[barrio] [nvarchar](15) NOT NULL,
	[Numero_Habitaciones] [int] NOT NULL,
	[servicio_Gas] [nvarchar](2) NOT NULL,
	[servicio_Energia] [nvarchar](2) NOT NULL,
	[garaje] [nvarchar](2) NOT NULL,
	[Valor_Arriendo] [int] NOT NULL,
	[Disponibilidad] [nvarchar](2) NOT NULL,
	[Tipo_Inmueble] [nvarchar](20) NOT NULL,
	[Observaciones] [nvarchar](40) NULL,
	[Id_Cedula_propietario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_inmuebles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propietarios]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propietarios](
	[Id_Cedula_propietario] [int] NOT NULL,
	[Apellido] [nvarchar](40) NOT NULL,
	[Nombre] [nvarchar](40) NOT NULL,
	[Direccion] [nvarchar](30) NOT NULL,
	[Celular] [int] NOT NULL,
	[Correo] [nvarchar](255) NOT NULL,
	[Numero_Cuenta] [int] NOT NULL,
	[Tipo_Cuenta] [nvarchar](20) NOT NULL,
	[Matricula_Casa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cedula_propietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sedes]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sedes](
	[Id_Sede] [int] NOT NULL,
	[Id_Administrador] [int] NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Direccion] [nvarchar](35) NOT NULL,
	[Barrio] [nvarchar](25) NOT NULL,
	[Telefono] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[idSolicitud] [int] NOT NULL,
	[Id_inmuebles] [int] NULL,
	[Id_Cliente] [int] NULL,
	[Fecha_Solicitud] [datetime] NOT NULL,
	[Estado_Solicitud] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] NOT NULL,
	[Cedula] [int] NOT NULL,
	[Correo] [nvarchar](255) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Nombre_Empresa] [nvarchar](20) NOT NULL,
	[Independiente] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitas]    Script Date: 5/07/2022 10:23:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitas](
	[id_Solicitud] [int] NOT NULL,
	[id_Cedula_empleado] [int] NULL,
	[Id_Usuario] [int] NULL,
	[Id_inmuebles] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Administradores] ([Id_Administrador], [Apellidos], [Nombres], [Direccion], [Celular], [Correo], [Nombre_Contacto], [Celular_Contacto]) VALUES (1, N'Gariff', N'Monro', N'414 Dorton Alley', 34875141, N'mgariff0@state.gov', N'Monro Gariff', 32549889)
INSERT [dbo].[Administradores] ([Id_Administrador], [Apellidos], [Nombres], [Direccion], [Celular], [Correo], [Nombre_Contacto], [Celular_Contacto]) VALUES (2, N'Leicester', N'Linea', N'152 La Follette Crossing', 36240301, N'lleicester1@zdnet.com', N'Linea Leicester', 35026482)
INSERT [dbo].[Administradores] ([Id_Administrador], [Apellidos], [Nombres], [Direccion], [Celular], [Correo], [Nombre_Contacto], [Celular_Contacto]) VALUES (3, N'Longridge', N'Eveline', N'459 Havey Trail', 33689820, N'elongridge2@fda.gov', N'Eveline Longridge', 30542634)
GO
INSERT [dbo].[Arrendatarios] ([Id_Arrendatarios], [Cedula_arrenda], [Apellidos], [Nombres], [Correo], [Celular], [Telefono_Fijo], [Nombre_Empresa], [Telefono_Empresa], [Carta_Laboral], [Certificado_Ingresos]) VALUES (1, 21922197, N'Wenderoth', N'Jarrid', N'jwenderoth0@patch.com', 33252581, 2136303, N'Jabbertype', 2175051, N'NO', N'NO')
INSERT [dbo].[Arrendatarios] ([Id_Arrendatarios], [Cedula_arrenda], [Apellidos], [Nombres], [Correo], [Celular], [Telefono_Fijo], [Nombre_Empresa], [Telefono_Empresa], [Carta_Laboral], [Certificado_Ingresos]) VALUES (2, 16820860, N'Flippini', N'Evelin', N'eflippini1@lulu.com', 31599872, 2544925, N'Devpoint', 2249189, N'SI', N'NO')
INSERT [dbo].[Arrendatarios] ([Id_Arrendatarios], [Cedula_arrenda], [Apellidos], [Nombres], [Correo], [Celular], [Telefono_Fijo], [Nombre_Empresa], [Telefono_Empresa], [Carta_Laboral], [Certificado_Ingresos]) VALUES (3, 23931486, N'McGuggy', N'Raimund', N'rmcguggy2@smugmug.com', 34907956, 2039969, N'Voonyx', 2420615, N'NO', N'NO')
GO
INSERT [dbo].[Asesores] ([id_Cedula_empleado], [Apellido], [Nombre], [Direccion], [Celular], [Correo], [Nombre_Contacto], [Celular_Contacto]) VALUES (1, N'Osgar', N'Israel', N'66749 Melody Way', 32911803, N'iosgar0@spiegel.de', N'Israel Osgar', 38034229)
INSERT [dbo].[Asesores] ([id_Cedula_empleado], [Apellido], [Nombre], [Direccion], [Celular], [Correo], [Nombre_Contacto], [Celular_Contacto]) VALUES (2, N'Ertelt', N'Tommie', N'25327 Center Pass', 37543208, N'tertelt1@de.vu', N'Tommie Ertelt', 35952261)
INSERT [dbo].[Asesores] ([id_Cedula_empleado], [Apellido], [Nombre], [Direccion], [Celular], [Correo], [Nombre_Contacto], [Celular_Contacto]) VALUES (3, N'Shall', N'Nelia', N'75 Lakewood Place', 39816920, N'nshall2@samsung.com', N'Nelia Shall', 39575915)
GO
INSERT [dbo].[Clientes] ([Id_Cliente], [Cedula_cliente], [Nombre], [Apellido], [Carta_laboral], [Certificado_Independiente], [Salario]) VALUES (1, 25393704, N'Becki', N'Collisson', N'SI', N'SI', 79467157)
INSERT [dbo].[Clientes] ([Id_Cliente], [Cedula_cliente], [Nombre], [Apellido], [Carta_laboral], [Certificado_Independiente], [Salario]) VALUES (2, 20010259, N'Tootsie', N'Dilley', N'NO', N'SI', 56189826)
INSERT [dbo].[Clientes] ([Id_Cliente], [Cedula_cliente], [Nombre], [Apellido], [Carta_laboral], [Certificado_Independiente], [Salario]) VALUES (3, 27982706, N'Jed', N'Bristoe', N'SI', N'SI', 47042247)
GO
INSERT [dbo].[Contratos] ([Id_Contratos], [Fecha_Contrato], [Id_Sede], [Id_fiador], [Id_inmuebles], [Id_Arrendatarios]) VALUES (1, CAST(N'2018-09-08T00:00:00.000' AS DateTime), 20, 99, 203, 47)
INSERT [dbo].[Contratos] ([Id_Contratos], [Fecha_Contrato], [Id_Sede], [Id_fiador], [Id_inmuebles], [Id_Arrendatarios]) VALUES (2, CAST(N'2018-12-21T00:00:00.000' AS DateTime), 27, 78, 179, 5)
INSERT [dbo].[Contratos] ([Id_Contratos], [Fecha_Contrato], [Id_Sede], [Id_fiador], [Id_inmuebles], [Id_Arrendatarios]) VALUES (3, CAST(N'2019-02-01T00:00:00.000' AS DateTime), 10, 4, 109, 63)
GO
INSERT [dbo].[Fiadores] ([Id_fiador], [Cedula_fiador], [Apellidos], [Nombres], [Carta_Laboral], [Salario], [Certificado_Propiedad]) VALUES (1, 13994222, N'Busse', N'Licha', N'NO', 5286185, N'NO')
INSERT [dbo].[Fiadores] ([Id_fiador], [Cedula_fiador], [Apellidos], [Nombres], [Carta_Laboral], [Salario], [Certificado_Propiedad]) VALUES (2, 19596928, N'Bunker', N'Rozelle', N'SI', 4365273, N'NO')
INSERT [dbo].[Fiadores] ([Id_fiador], [Cedula_fiador], [Apellidos], [Nombres], [Carta_Laboral], [Salario], [Certificado_Propiedad]) VALUES (3, 14204554, N'Choake', N'Gaylord', N'NO', 6964112, N'NO')
GO
INSERT [dbo].[Inmuebles] ([Id_inmuebles], [direccion], [barrio], [Numero_Habitaciones], [servicio_Gas], [servicio_Energia], [garaje], [Valor_Arriendo], [Disponibilidad], [Tipo_Inmueble], [Observaciones], [Id_Cedula_propietario]) VALUES (1, N'7 2nd Hill', N'BuenosAires', 1, N'SI', N'SI', N'SI', 7370309, N'SI', N'Salon', N'No tiene ascensor', 63)
INSERT [dbo].[Inmuebles] ([Id_inmuebles], [direccion], [barrio], [Numero_Habitaciones], [servicio_Gas], [servicio_Energia], [garaje], [Valor_Arriendo], [Disponibilidad], [Tipo_Inmueble], [Observaciones], [Id_Cedula_propietario]) VALUES (2, N'177 Commercial Crossing', N'Salvador', 2, N'SI', N'NO', N'SI', 78944782, N'NO', N'Finca', N'No mascotas', 6)
INSERT [dbo].[Inmuebles] ([Id_inmuebles], [direccion], [barrio], [Numero_Habitaciones], [servicio_Gas], [servicio_Energia], [garaje], [Valor_Arriendo], [Disponibilidad], [Tipo_Inmueble], [Observaciones], [Id_Cedula_propietario]) VALUES (3, N'194 Tomscot Alley', N'Bombona', 3, N'NO', N'NO', N'NO', 51174327, N'NO', N'Salon', N'No Niños', 63)
GO
INSERT [dbo].[Propietarios] ([Id_Cedula_propietario], [Apellido], [Nombre], [Direccion], [Celular], [Correo], [Numero_Cuenta], [Tipo_Cuenta], [Matricula_Casa]) VALUES (1, N'Pretsell', N'Meryl', N'003 Becker Parkway', 30613206, N'mpretsell0@purevolume.com', 94296822, N'Empleado', 4511)
INSERT [dbo].[Propietarios] ([Id_Cedula_propietario], [Apellido], [Nombre], [Direccion], [Celular], [Correo], [Numero_Cuenta], [Tipo_Cuenta], [Matricula_Casa]) VALUES (2, N'Shubotham', N'Thatcher', N'1 Fulton Trail', 34494900, N'tshubotham1@dailymail.co.uk', 92033136, N'Independiente', 4544)
INSERT [dbo].[Propietarios] ([Id_Cedula_propietario], [Apellido], [Nombre], [Direccion], [Celular], [Correo], [Numero_Cuenta], [Tipo_Cuenta], [Matricula_Casa]) VALUES (3, N'Slayton', N'Frank', N'4 Prairieview Lane', 32186857, N'fslayton2@tuttocitta.it', 99128891, N'Empleado', 4119)
GO
INSERT [dbo].[Sedes] ([Id_Sede], [Id_Administrador], [Nombre], [Direccion], [Barrio], [Telefono]) VALUES (1, 1, N'Suzanna', N'05 1st Circle', N'Bombona', 35117580)
INSERT [dbo].[Sedes] ([Id_Sede], [Id_Administrador], [Nombre], [Direccion], [Barrio], [Telefono]) VALUES (2, 2, N'Renato', N'3101 Dawn Plaza', N'Buenos_Aires', 37690266)
INSERT [dbo].[Sedes] ([Id_Sede], [Id_Administrador], [Nombre], [Direccion], [Barrio], [Telefono]) VALUES (3, 3, N'Katrine', N'31 Oak Park', N'Salvador', 34518632)
GO
INSERT [dbo].[Solicitudes] ([idSolicitud], [Id_inmuebles], [Id_Cliente], [Fecha_Solicitud], [Estado_Solicitud]) VALUES (1, 165, 19, CAST(N'2019-10-23T00:00:00.000' AS DateTime), N'Aprobada')
INSERT [dbo].[Solicitudes] ([idSolicitud], [Id_inmuebles], [Id_Cliente], [Fecha_Solicitud], [Estado_Solicitud]) VALUES (3, 160, 148, CAST(N'2020-01-03T00:00:00.000' AS DateTime), N'Aprobada')
INSERT [dbo].[Solicitudes] ([idSolicitud], [Id_inmuebles], [Id_Cliente], [Fecha_Solicitud], [Estado_Solicitud]) VALUES (4, 63, 27, CAST(N'2020-02-07T00:00:00.000' AS DateTime), N'Sin Revisar')
GO
INSERT [dbo].[Usuarios] ([Id_Usuario], [Cedula], [Correo], [Telefono], [Nombre_Empresa], [Independiente]) VALUES (1, 1592448148, N'bjozefowicz0@nature.com', 2388809, N'Yakijo', N'Independiente')
INSERT [dbo].[Usuarios] ([Id_Usuario], [Cedula], [Correo], [Telefono], [Nombre_Empresa], [Independiente]) VALUES (2, 1123716898, N'vmosson1@friendfeed.com', 2945587, N'Avamm', N'Empleado')
INSERT [dbo].[Usuarios] ([Id_Usuario], [Cedula], [Correo], [Telefono], [Nombre_Empresa], [Independiente]) VALUES (3, 1063930577, N'asaintsbury2@imageshack.us', 2222582, N'Twitterlist', N'Independiente')
GO
INSERT [dbo].[Visitas] ([id_Solicitud], [id_Cedula_empleado], [Id_Usuario], [Id_inmuebles]) VALUES (1, 17, 99, 39)
INSERT [dbo].[Visitas] ([id_Solicitud], [id_Cedula_empleado], [Id_Usuario], [Id_inmuebles]) VALUES (2, 3, 32, 134)
INSERT [dbo].[Visitas] ([id_Solicitud], [id_Cedula_empleado], [Id_Usuario], [Id_inmuebles]) VALUES (3, 17, 88, 72)
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD FOREIGN KEY([Id_Arrendatarios])
REFERENCES [dbo].[Arrendatarios] ([Id_Arrendatarios])
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD FOREIGN KEY([Id_fiador])
REFERENCES [dbo].[Fiadores] ([Id_fiador])
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD FOREIGN KEY([Id_inmuebles])
REFERENCES [dbo].[Inmuebles] ([Id_inmuebles])
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD FOREIGN KEY([Id_Sede])
REFERENCES [dbo].[Sedes] ([Id_Sede])
GO
ALTER TABLE [dbo].[Inmuebles]  WITH CHECK ADD FOREIGN KEY([Id_Cedula_propietario])
REFERENCES [dbo].[Propietarios] ([Id_Cedula_propietario])
GO
ALTER TABLE [dbo].[Sedes]  WITH CHECK ADD FOREIGN KEY([Id_Administrador])
REFERENCES [dbo].[Administradores] ([Id_Administrador])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([Id_Cliente])
REFERENCES [dbo].[Clientes] ([Id_Cliente])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([Id_inmuebles])
REFERENCES [dbo].[Inmuebles] ([Id_inmuebles])
GO
ALTER TABLE [dbo].[Visitas]  WITH CHECK ADD FOREIGN KEY([id_Cedula_empleado])
REFERENCES [dbo].[Asesores] ([id_Cedula_empleado])
GO
ALTER TABLE [dbo].[Visitas]  WITH CHECK ADD FOREIGN KEY([Id_inmuebles])
REFERENCES [dbo].[Inmuebles] ([Id_inmuebles])
GO
ALTER TABLE [dbo].[Visitas]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuarios] ([Id_Usuario])
GO
